In [1]:
import csv
import pandas as pd
import json
import numpy as np
from pymongo import MongoClient

csv_file="/home/rtx2070s/exp/deep-latent-sequence-model/data/yelp_long/yelp_academic_dataset_review.json"
#too heavy
# with open(csv_file, 'r') as f:
#     js_file=json.load(f)
#     print(js_file)

In [2]:
mongo_client=MongoClient('localhost',27017)
dblist=mongo_client.list_database_names()

db = mongo_client.yelpreview
col=db.yelp_academic_dataset_review


mongo_docs = col.find()
#easier implement
entries=list(mongo_docs)
entries[:5]
df=pd.DataFrame(entries)
print(df.head())

                        _id               review_id                 user_id  \
0  6225d46862b5a7859ec3e87c  NDhkzczKjLshODbqDoNLSg  eC5evKn1TWDyHCyQAwguUw
1  6225d46862b5a7859ec3e87d  2l_TDrQ7p-5tANOyiOlkLQ  LWUnzwK0ILquLLZcHHE1Mw
2  6225d46862b5a7859ec3e87e  8bFej1QE5LXp4O05qjGqXA  YoVfDbnISlW0f7abNQACIg
3  6225d46862b5a7859ec3e87f  J4a2TuhDasjn2k3wWtHZnQ  RNm_RWkcd02Li2mKPRe7Eg
4  6225d46862b5a7859ec3e880  T5fAqjjFooT4V0OeZyuk1w  SFQ1jcnGguO0LYWnbbftAA

              business_id  stars  useful  funny  cool  \
0  _sS2LBIGNT5NQb6PD1Vtjw    5.0       0      0     0
1  mD-A9KOWADXvfrZfwDs-jw    4.0       1      0     0
2  RA4V8pr014UyUbDvI-LW2A    4.0       1      0     0
3  xGXzsc-hzam-VArK6eTvtw    1.0       2      0     0
4  0AzLzHfOJgL7ROwhdww2ew    2.0       1      1     1

                                                text                 date
0  I called WVM on the recommendation of a couple...  2013-05-28 20:38:06
1  I am definitely a fan of Sports Authority.  Th...  2012-05-28 15:00:47
2  This store is pretty good. Not as great as Wal...  2015-07-03 20:38:25
3  This place used to be a cool, chill place. Now...  2018-01-21 04:41:03
4  I've stayed at many Marriott and Renaissance M...  2010-01-08 02:29:15

In [8]:
df['text']

0          I called WVM on the recommendation of a couple...
1          I am definitely a fan of Sports Authority.  Th...
2          This store is pretty good. Not as great as Wal...
3          This place used to be a cool, chill place. Now...
4          I've stayed at many Marriott and Renaissance M...
                                 ...
8635398    This was absolutely the most egregious display...
8635399    This is so highly rated for a reason. If you'r...
8635400    This used to be my car wash of choice. They di...
8635401    This place is a wonderland of Asian delight. I...
8635402    In December, I called in (as a returning custo...
Name: text, Length: 8635403, dtype: object

In [9]:
df_ts=pd.DataFrame(df,columns=['stars','text'])

In [10]:
df_ts

         stars                                               text
0          5.0  I called WVM on the recommendation of a couple...
1          4.0  I am definitely a fan of Sports Authority.  Th...
2          4.0  This store is pretty good. Not as great as Wal...
3          1.0  This place used to be a cool, chill place. Now...
4          2.0  I've stayed at many Marriott and Renaissance M...
...        ...                                                ...
8635398    1.0  This was absolutely the most egregious display...
8635399    5.0  This is so highly rated for a reason. If you'r...
8635400    2.0  This used to be my car wash of choice. They di...
8635401    5.0  This place is a wonderland of Asian delight. I...
8635402    1.0  In December, I called in (as a returning custo...

[8635403 rows x 2 columns]

In [13]:
neg_df=df_ts.loc[df_ts['stars']==1.0]
neg_df

         stars                                               text
3          1.0  This place used to be a cool, chill place. Now...
6          1.0  They NEVER seem to get our \norder correct, se...
9          1.0  I wish I could give them zero stars. The call ...
11         1.0  Great coffee and pastries. Baristas are excell...
26         1.0  Almost desolate restaurant and dingy evironmen...
...        ...                                                ...
8635359    1.0  I have been a loyal customer of this pizza pla...
8635370    1.0  Wouldn't even let a pregnant woman use the bat...
8635396    1.0  This guy is a moron that will stalk and harass...
8635398    1.0  This was absolutely the most egregious display...
8635402    1.0  In December, I called in (as a returning custo...

[1262800 rows x 2 columns]

In [14]:
neg_df['label']=0
neg_df

/tmp/ipykernel_14410/969301467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neg_df['label']=0

         stars                                               text  label
3          1.0  This place used to be a cool, chill place. Now...      0
6          1.0  They NEVER seem to get our \norder correct, se...      0
9          1.0  I wish I could give them zero stars. The call ...      0
11         1.0  Great coffee and pastries. Baristas are excell...      0
26         1.0  Almost desolate restaurant and dingy evironmen...      0
...        ...                                                ...    ...
8635359    1.0  I have been a loyal customer of this pizza pla...      0
8635370    1.0  Wouldn't even let a pregnant woman use the bat...      0
8635396    1.0  This guy is a moron that will stalk and harass...      0
8635398    1.0  This was absolutely the most egregious display...      0
8635402    1.0  In December, I called in (as a returning custo...      0

[1262800 rows x 3 columns]

In [16]:
pos_df=df_ts.loc[df_ts['stars']==5.0]
pos_df

         stars                                               text
0          5.0  I called WVM on the recommendation of a couple...
5          5.0  I work in the Pru and this is the most afforda...
7          5.0  This is a five-star restaurant if ever I have ...
15         5.0  I loved everything about this place. I've only...
18         5.0  Definitely 5 stars for the donuts.  Our family...
...        ...                                                ...
8635394    5.0  Best pizza in the neighborhood!!! Love the thi...
8635395    5.0  Yummy, great chew on the bagel\nFriendly staff...
8635397    5.0  Yes please! We had the Arepas falafel style an...
8635399    5.0  This is so highly rated for a reason. If you'r...
8635401    5.0  This place is a wonderland of Asian delight. I...

[3814532 rows x 2 columns]

In [17]:
pos_df['label']=1

/tmp/ipykernel_14410/2336564515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pos_df['label']=1

In [24]:
df_ts.loc[df_ts['stars']==5.0,'label']=1
df_ts.loc[df_ts['stars']==1.0,'label']=0
df_ts

         stars                                               text  label
0          5.0  I called WVM on the recommendation of a couple...    1.0
1          4.0  I am definitely a fan of Sports Authority.  Th...    NaN
2          4.0  This store is pretty good. Not as great as Wal...    NaN
3          1.0  This place used to be a cool, chill place. Now...    0.0
4          2.0  I've stayed at many Marriott and Renaissance M...    NaN
...        ...                                                ...    ...
8635398    1.0  This was absolutely the most egregious display...    0.0
8635399    5.0  This is so highly rated for a reason. If you'r...    1.0
8635400    2.0  This used to be my car wash of choice. They di...    NaN
8635401    5.0  This place is a wonderland of Asian delight. I...    1.0
8635402    1.0  In December, I called in (as a returning custo...    0.0

[8635403 rows x 3 columns]

In [34]:
senti_df=df_ts.loc[df_ts['label'].notnull()]

In [35]:
senti_df=senti_df.sort_values(by='stars')

In [37]:
senti_head=senti_df.head(10)

In [43]:
senti_df.to_csv('senti_csv' ,columns=['stars','text','label'],index=False,)

In [2]:
senti_df=pd.read_csv('senti_csv')

In [3]:
senti_df

         stars                                               text  label
0          1.0  Parents, teachers and students BEWARE before b...    0.0
1          1.0  Do NOT use these guys. They looked at our wash...    0.0
2          1.0  "Women caring for women" is a total joke when ...    0.0
3          1.0  Sloppy work sold me headers installed had a le...    0.0
4          1.0  This review is based on the comedy club itself...    0.0
...        ...                                                ...    ...
5077327    5.0  Yaaaaay! Just passed my road test. Ask for Yur...    1.0
5077328    5.0  This is the best pizza around.The sauce is the...    1.0
5077329    5.0  First time at Black Wing and had a great time....    1.0
5077330    5.0  We came for lunch and sat on the beautiful pat...    1.0
5077331    5.0  I called WVM on the recommendation of a couple...    1.0

[5077332 rows x 3 columns]

In [62]:
senti_df['text'][4]

"This review is based on the comedy club itself and not the comedians. \n\nIf you want to waste $70 for a few chuckles, bad food, and parking, make it an Uptown Comedy Club night. Like 90% of places in Atlanta, there is no free parking near the club. It's $15 for valet, but there are also a few places down the street that charge $10. You may be lucky enough to find a parking spot on the street for free, but every time I've found an empty street space in Atlanta, there's always been somebody waiting for me to get out of my car so they can beg me for a couple of bucks. How do I get into the parking spot business? That must be the best way to become a millionaire in Atlanta. \nAnyway, be aware that there is a two item minimum once you're inside the club. There is no such thing as free water. You have to buy $6 designer water. There are a few food items on the menu and a few drinks. My drink tasted like it had been sitting in a fridge for a week soaking up the tastes of other foods. They probably need to put a box of baking soda in their fridge. \nI'm not sure how you get free tickets, but I paid for my ticket....$40 for VIP to be exact. What a joke, VIP gets you nothing at all...don't expect better chairs, a free drink, or better service.\nFinally, the location is in an industrial-like building. You can see all the air conditioning ducts. For a building like this, they can't be paying that much rent.\nI'm sure there are better comedy clubs out there, try somewhere else."

In [27]:
senti_df=senti_df.loc[senti_df['text'].notnull()]

In [28]:
senti_df

         stars                                               text  label
0          1.0  Parents, teachers and students BEWARE before b...    0.0
1          1.0  Do NOT use these guys. They looked at our wash...    0.0
2          1.0  "Women caring for women" is a total joke when ...    0.0
3          1.0  Sloppy work sold me headers installed had a le...    0.0
4          1.0  This review is based on the comedy club itself...    0.0
...        ...                                                ...    ...
5077327    5.0  Yaaaaay! Just passed my road test. Ask for Yur...    1.0
5077328    5.0  This is the best pizza around.The sauce is the...    1.0
5077329    5.0  First time at Black Wing and had a great time....    1.0
5077330    5.0  We came for lunch and sat on the beautiful pat...    1.0
5077331    5.0  I called WVM on the recommendation of a couple...    1.0

[5077331 rows x 3 columns]

In [29]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(senti_df, test_size=0.2)
test,dev = train_test_split(test, test_size=0.5)

In [30]:
train=train.sort_values(by='stars')
dev=dev.sort_values(by='stars')
test=test.sort_values(by='stars')

In [31]:
train

         stars                                               text  label
962401     1.0  Never called me back.  I called 2x with messag...    0.0
1244435    1.0  Agero is THE WORST company I've ever dealt wit...    0.0
787146     1.0  Wow.  I wish I had read Yelp before I called. ...    0.0
1002647    1.0  They will take your money, say you didn't pay ...    0.0
843472     1.0  Right now, I'm currently waiting in line for t...    0.0
...        ...                                                ...    ...
2619697    5.0  Print Plus was kind, helpful and spent a lot o...    1.0
3278649    5.0  Nice outdoor court yard dining area! Calm musi...    1.0
1302888    5.0  The best Peruvian food I've had in a very long...    1.0
4205005    5.0  Witch City Ink is a great addition to Salem. N...    1.0
3359497    5.0  The service is amazing! The lobster fried rice...    1.0

[4061864 rows x 3 columns]

In [32]:
dev

         stars                                               text  label
482639     1.0  The food saved them from getting ZERO stars. S...    0.0
586447     1.0  Hey hey it's my birthday! @ least it was when ...    0.0
433648     1.0  We ordered mapo tofu here to try this new plac...    0.0
587360     1.0  Bartender was a total dick. He made it an awfu...    0.0
849795     1.0  In our trip to through Colorado we visited ove...    0.0
...        ...                                                ...    ...
1276316    5.0  Birthday dinner for my wife!!\nHuge success. S...    1.0
4839211    5.0  Great no frills subs. Excellent service and st...    1.0
4982821    5.0  I've been taking my little Shih Tzu to Barking...    1.0
4149778    5.0  Great spot. First time here. About an hour wai...    1.0
1985606    5.0  My kids did not start lessons with DSR but hav...    1.0

[507734 rows x 3 columns]

In [33]:
import re
import os

In [9]:
hoge = re.sub('\n+', '\n', test['text'][4])

KeyError: 4

In [41]:
hoge

"This review is based on the comedy club itself and not the comedians. \nIf you want to waste $70 for a few chuckles, bad food, and parking, make it an Uptown Comedy Club night. Like 90% of places in Atlanta, there is no free parking near the club. It's $15 for valet, but there are also a few places down the street that charge $10. You may be lucky enough to find a parking spot on the street for free, but every time I've found an empty street space in Atlanta, there's always been somebody waiting for me to get out of my car so they can beg me for a couple of bucks. How do I get into the parking spot business? That must be the best way to become a millionaire in Atlanta. \nAnyway, be aware that there is a two item minimum once you're inside the club. There is no such thing as free water. You have to buy $6 designer water. There are a few food items on the menu and a few drinks. My drink tasted like it had been sitting in a fridge for a week soaking up the tastes of other foods. They probably need to put a box of baking soda in their fridge. \nI'm not sure how you get free tickets, but I paid for my ticket....$40 for VIP to be exact. What a joke, VIP gets you nothing at all...don't expect better chairs, a free drink, or better service.\nFinally, the location is in an industrial-like building. You can see all the air conditioning ducts. For a building like this, they can't be paying that much rent.\nI'm sure there are better comedy clubs out there, try somewhere else."

In [42]:
hoge = test['text'][4].split('\n')

In [43]:
print(hoge[0], hoge[-1])

This review is based on the comedy club itself and not the comedians.  I'm sure there are better comedy clubs out there, try somewhere else.

In [46]:
hogetext=hoge[0].strip()+ ' ' + hoge[-1].strip()

In [47]:
hogetext

"This review is based on the comedy club itself and not the comedians. I'm sure there are better comedy clubs out there, try somewhere else."

In [149]:
import string
regular_punct = list(string.punctuation)

def spacing_punctuation(text, regular_punct):
    for punc in regular_punct:
        if punc in text:
            text = text.replace(punc, " "+f'{punc}')
    return text.strip()

spacing_punctuation("Good Morning!Hoow are you?? ",regular_punct)

'Good Morning !Hoow are you ? ?'

In [290]:
import string
regular_punct = list(string.punctuation)

def spacing_punctuation(text, regular_punct):
    #standard punction
    text=re.sub('[!]+','!',text)
    text=re.sub('[.]+','.',text)
    for punc in regular_punct:
        if punc in text:
            text = text.replace(punc, " "+f'{punc}')
    return text.strip()



def clean_txt(txt):
    #remove non-English
    
    
    #astro lookup
    contractions = {
    "ain't": "am not / are not",
    "aren't": "are not ",
    "can't": "cannot",
    "can't've": "cannot have",
    "'cause": "because",
    "could've": "could have",
    "couldn't": "could not",
    "couldn't've": "could not have",
    "didn't": "did not",
    "doesn't": "does not",
    "don't": "do not",
    "hadn't": "had not",
    "hadn't've": "had not have",
    "hasn't": "has not",
    "haven't": "have not",
    "he'd": "he would",
    "he'd've": "he would have",
    "he'll": "he will",
    "he'll've": "he will have",
    "he's": "he is",
    "how'd": "how did",
    "how'd'y": "how do you",
    "how'll": "how will",
    "how's": "how is",
    "i'd": "I had",
    "i'd've": "I would have",
    "i'll": "I will",
    "i'll've": "I will have",
    "i'm": "I am",
    "i've": "I have",
    "isn't": "is not",
    "it'd": "it would",
    "it'd've": "it would have",
    "it'll": "it will",
    "it'll've": "it will have",
    "it's": "it is",
    "let's": "let us",
    "ma'am": "madam",
    "mayn't": "may not",
    "might've": "might have",
    "mightn't": "might not",
    "mightn't've": "might not have",
    "must've": "must have",
    "mustn't": "must not",
    "mustn't've": "must not have",
    "needn't": "need not",
    "needn't've": "need not have",
    "o'clock": "of the clock",
    "oughtn't": "ought not",
    "oughtn't've": "ought not have",
    "shan't": "shall not",
    "sha'n't": "shall not",
    "shan't've": "shall not have",
    "she'd": "she would",
    "she'd've": "she would have",
    "she'll": "she will",
    "she'll've": "she will have",
    "she's": "she is",
    "should've": "should have",
    "shouldn't": "should not",
    "shouldn't've": "should not have",
    "so've": "so have",
    "so's": "so as",
    "that'd": "that had",
    "that'd've": "that would have",
    "that's": "that is",
    "there'd": "there would",
    "there'd've": "there would have",
    "there's": "there is",
    "they'd": "they would",
    "they'd've": "they would have",
    "they'll": "they will",
    "they'll've": "they will have",
    "they're": "they are",
    "they've": "they have",
    "to've": "to have",
    "wasn't": "was not",
    "we'd": "we would",
    "we'd've": "we would have",
    "we'll": "we will",
    "we'll've": "we will have",
    "we're": "we are",
    "we've": "we have",
    "weren't": "were not",
    "what'll": "what will",
    "what'll've": "what will have",
    "what're": "what are",
    "what's": "what is",
    "what've": "what have",
    "when's": "when is",
    "when've": "when have",
    "where'd": "where did",
    "where's": "where is",
    "where've": "where have",
    "who'll": "who will",
    "who'll've": "who will have",
    "who's": "who is",
    "who've": "who have",
    "why's": "why is",
    "why've": "why have",
    "will've": "will have",
    "won't": "will not",
    "won't've": "will not have",
    "would've": "would have",
    "wouldn't": "would not",
    "wouldn't've": "would not have",
    "y'all": "you all",
    "y'all'd": "you all would",
    "y'all'd've": "you all would have",
    "y'all're": "you all are",
    "y'all've": "you all have",
    "you'd": "you had / you would",
    "you'd've": "you would have",
    "you'll": "you shall / you will",
    "you'll've": "you will have",
    "you're": "you are",
    "you've": "you have"
    }

    for word in txt.split():
        if word.lower() in contractions:
            txt = txt.replace(word, contractions[word.lower()])
    #remove space
    txt_list = txt.split()
    txt =" ".join(txt_list)
#     #join_words
#     txt = " ".join(re.findall('[A-Z][^A-Z]*', txt))
    #punction
    clean_txt=spacing_punctuation(txt, regular_punct)
    #num
    clean_txt=re.sub('[0-9]+/[0-9]+','_num_',clean_txt)
    clean_txt=re.sub('[0-9]+,','_num_',clean_txt)
    return clean_txt

In [303]:
def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True

def filtertext(s):
    filter_set=list[re.compile('http'),re.compile('[*]+')
    count=0
    for pattern in filter_set:
        if re.match(pattern,s):
            count+=1
    if count>0:
        s=''
    return s

def extract_text(text):
    text_remove=re.sub('\n+', '\n', text)

    text_split=text_remove.split('\n')
    text_fin=text_split[0].strip().lower()+' '+text_split[-1].strip().lower()
#         print(text_fin)
#remove non-english
    if isEnglish(text_fin):
        text_fin=clean_txt(text_fin)
        
    else: 
#         print(text_fin"\n")
        text_fin=''
#fileter http sen
    text_fin=filtertext(text_fin)
    return text_fin

SyntaxError: invalid syntax (485172994.py, line 9)

In [298]:
def write_file(df,tf_name_1,tf_name_2,max_length=50,label_name='label'):
    save_dir='./'
    ftrain_t=open(os.path.join(save_dir,tf_name_1),'w')
    ftrain_a=open(os.path.join(save_dir,tf_name_2),'w')
    sen=[]
    length_counts=[]
    labels=[]
    dropped=0
    counts=0
    for idx,data in df.iterrows():
        line=data['text']
        line=extract_text(line)
#         print(line)
        split_line=line.split()
        line=line+'\n'
        lc=len(split_line)
        lb=data[label_name]
        length_counts.append(lc)
        sen.append(line)
        labels.append(lb)
        counts +=1
        
        if len(split_line)<1:
            dropped +=1
#             print("sentence:",idx)
            continue
        
        if max_length:
            if len(split_line)>max_length:
                dropped +=1
                continue
        
        
        ftrain_t.write(line)
        if lb==0:
            ftrain_a.write('negative\n')
        else:
            ftrain_a.write('positive\n')

    return length_counts,sen,labels,dropped,counts

In [299]:
example=train[:1000]

In [300]:
train[:100]

         stars                                               text  label
962401     1.0  Never called me back.  I called 2x with messag...    0.0
1244435    1.0  Agero is THE WORST company I've ever dealt wit...    0.0
787146     1.0  Wow.  I wish I had read Yelp before I called. ...    0.0
1002647    1.0  They will take your money, say you didn't pay ...    0.0
843472     1.0  Right now, I'm currently waiting in line for t...    0.0
...        ...                                                ...    ...
1259991    1.0  Such a shitty and ghettos place. I brought a l...    0.0
1078450    1.0  Service was great. Hosts are very warm and wel...    0.0
691993     1.0  I wish this unprofessional, hard to call it "c...    0.0
1166289    1.0  I waited over an hour for the restaurant to de...    0.0
998026     1.0  This place should definitely be SHUT DOWN. I d...    0.0

[100 rows x 3 columns]

In [301]:
lc_e,sen_e,labels_e,dropped,_=write_file(example,'e_text','e_attr')

In [302]:
dropped

855

In [96]:
clean_txt(exa_text)

'I am totally disgusted with this company and would highly recommend against buying from these people!!!!!!i would not recommend shopping here. this company does not stand behind the product they deliver, unlike many other dealerships that sell used vehicles. we spent almost 15k on a 2007 nissan maxima with 67 thousand miles. after buying the car on monday, we noticed that the gas gauge was not working properly. we notified them immediately on tuesday and they acted like it would be taken care of. upon dropping the car off for them to replace a part for the ac that they were working on before purchasing the vehicle. we showed up today to pick the car, and they did not even address the issue. all i got out of these people was you are buying this car "as is no warranty". they said they had no previous knowledge of the gas gauge not working. we looked at the paperwork on the vehicle in the dash, called the nissan dealership where it was purchased and they were fully aware of the issue. so basically, if you buy a vehicle from these people, be prepared to find any issues within the first 3 days of signing your papers, and threaten to return the vehicle if it is not fixed, or nothing will be done.  I am totally disgusted with this company and would highly recommend against buying from these people!!!!!!'

In [66]:
lc_e

[52,
 172,
 198,
 142,
 283,
 38,
 263,
 37,
 436,
 206,
 312,
 164,
 200,
 86,
 146,
 304,
 51,
 244,
 182,
 94,
 111,
 58,
 60,
 332,
 40,
 58,
 50,
 252,
 216,
 159,
 104,
 80,
 148,
 186,
 136,
 44,
 67,
 240,
 132,
 228,
 42,
 38,
 158,
 153,
 46,
 142,
 64,
 140,
 124,
 234,
 492,
 233,
 282,
 346,
 110,
 2,
 200,
 151,
 64,
 164,
 230,
 58,
 50,
 42,
 164,
 130,
 110,
 30,
 194,
 38,
 40,
 160,
 46,
 78,
 226,
 250,
 360,
 21,
 184,
 528,
 36,
 260,
 154,
 92,
 81,
 83,
 666,
 318,
 96,
 92,
 74,
 398,
 40,
 46,
 51,
 148,
 128,
 70,
 114,
 221]

In [40]:
sum(lc_e)/len(lc_e)

156.03

In [41]:
dropped

81

In [42]:
len(example)

100

In [54]:
sen_e[0]

'never called me back.  i called 2x with messages.  oh well, the place looks amazing. we moved on and found a fresh dermatologist up the road'

In [55]:
example['text'].head(1)

962401    Never called me back.  I called 2x with messag...
Name: text, dtype: object

In [262]:
lc_s1,sen_s1,labels_s1,dropped_s1,counts_s1=write_file(dev,'dev_30.txt','dev_30.attr',max_length=30)

In [263]:
lc_s2,sen_s2,labels_s2,dropped_s2,counts_s2=write_file(train,'train_30.txt','train_30.attr',max_length=30)

In [264]:
lc_s3,sen_s3,labels_s3,dropped_s3,counts_s3=write_file(test,'test_30.txt','test_30.attr',max_length=30)

In [260]:
record=dropped_s1/counts_s1,dropped_s2/counts_s2,dropped_s3/counts_s3

In [261]:
record

(0.9479018541204647, 0.947981025460232, 0.9483252024193818)